[Desktop Entry]
Type=Application
Name=Flashlight ON
Exec=/bin/sh -c "echo 255 > /sys/class/leds/flashlight/brightness"
Icon=/usr/share/icons/flashlight.png
