[Desktop Entry]
Type=Application
Name=Flashlight OFF
Exec=/bin/sh -c "echo 0 > /sys/class/leds/flashlight/brightness"
Icon=/usr/share/icons/flashlight.png
